.portfolio {
	text-align: center;
	padding: 40px;
}

.portfolio img {
	max-width: 100%;
	height: auto;
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
}

.card {
	padding-top: 40px;
}

.card p {
	padding-top: 20px;
}

.card button {
	margin-top: 30px;
	background-color: white;
	border: 2px solid var(--secondary-colour);
	border-radius: 12px;
	padding: 10px;
	font-family: "Muli", sans-serif;
	cursor: pointer;
  margin-left: 5px;
}

.card button:hover {
  background-color: var(--secondary-colour);
  color: white;
}
